.App {
  text-align: center;
}

.ListPadding{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

.Header {
  text-align: left;
  background-color: #ffffff;
  justify-content: center;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  padding-left: 50px;
}